:root {
  --bg: #000000;
  --fg: #fff;
  --muted: #888;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }
body {
  background: var(--bg);
  color: var(--fg);
  font-family: "Courier New", monospace;
  padding: 2.5em;
  line-height: 1.6;
  font-size: 16px;
  cursor: none;
}

.hidden { display: none; }

/* background grid */
.grid {
  position: fixed; inset: 0;
  background-image:
    linear-gradient(var(--muted) 0.0625em, transparent 0.0625em),
    linear-gradient(90deg, var(--muted) 0.0625em, transparent 0.0625em);
  background-size: 2.5em 2.5em;
  opacity: 0.05; pointer-events: none; z-index: -1;
}

/* enter screen */
#enter-screen {
  position: fixed; inset: 0;background: #000;
  display: flex; align-items: center; justify-content: center;
  z-index: 10000; overflow: hidden;
}
.enter-bg {
  position: absolute; inset: 0; width: 100%; height: 100%;
  object-fit: cover; z-index: -1; pointer-events: none; display: block;
  /* optional: dim background so text stays readable */
  filter: brightness(0.6);
}
.enter-content { text-align: center; color: #ffffff; font-size: 1.125em; }
.enter-logo { width: 100%; max-width: 78.125em; margin-bottom: 1.25em; display:block; }

/* startup overlay (hidden until boot) */
#startup {
  position: fixed; inset: 0; background: #000; color: rgb(255, 183, 245);
  font-family: "Courier New", monospace; padding: 2.5em; font-size: 1.25em;
  z-index: 9999; overflow: auto; opacity: 0; pointer-events: none;
}
#startup img { max-width: 25em; margin: 0.75em 0; display: block; }

.prompt { color: var(--muted); }
a { color: var(--fg); text-decoration: none; border-bottom: 0.0625em dashed var(--fg); }

/* logo */
.logo { 
  width: 100%; max-width: 15em; height: auto; margin-bottom: 1.25em; display: block; 
}

/* background images */
.bear { 
  position: fixed;
    bottom: 20%; left: 70%; width: 30em; height: auto; opacity: 0.65; rotate: -25deg;
}
.hash {
  position: fixed;
    bottom: 0; left: 0; width: 30em; height: auto; opacity: 0.5; rotate: -20deg;transform: scaleX(-1)
}
.silent {
  position: fixed;
    top: 30%; left: 20%; width: 70em; height: auto; opacity: 0.02;
}

/* mouse trail dots */
.dot {
  position: fixed; width: 0.375em; height: 0.375em; background: var(--fg); border-radius: 50%;
  pointer-events: none; opacity: 0.9; transform: translate(-50%, -50%);
  animation: fade 0.4s linear forwards;
}
@keyframes fade { from { opacity: 0.9; } to { opacity: 0; transform: translate(-50%, -50%) scale(0.4); } }
/* fading text animation */
@keyframes fadeInOut {
  0% { opacity: 0; }
  45% { opacity: 1; }
  55% { opacity: 1; }
  100% { opacity: 0; }
}
.fade { animation: fadeInOut 1.4s ease-in-out infinite; }